table{
    width: 100%;
    
}

table, th{
    border-collapse: collapse;
   
    
    
  }


.main_table th{
    color: #6f7071;
    font-weight: 100;
}

.username{
    @media (max-width: 1024px) {
       display: none;      
    }
}

.columns{
    @media (max-width: 780px) {
       display: none;      
    }
}

.status{


    @media (max-width: 440px) {
        display: none;      
     }
}

.details{
    display: none;
    margin-top: 5px;

    @media (max-width: 1024px) {
        display: flex;
        justify-content: center;
       

        
    }
}

