
td {
    border:2px solid transparent;
    border-collapse: collapse;
    padding: 6px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: #8B8D97;
    
  }

  td{
    white-space: nowrap;
  }

 
td Button{
    
        @media (max-width: 1024px) {
            font-size: 12px;
        }
    
}

.table-data-btn{
  display: none;


  @media (max-width: 1024px) {
      display: flex;
      align-items: center;

  }
}
 
.status-border{
  border: 2px solid transparent;
  border-radius: 5px;
  padding-left: 2px;
  padding-right: 2px;
}
