table{
    width: 100%;
    
}

table, th{
    border-collapse: collapse;
   
    
    
  }


.main_table th{
    color: #6f7071;
    font-weight: 100;
}

.username{
    display: none;
    @media (min-width: 1024px) {
       display: contents;      
    }
}

.columns{
    display: none;
    @media (min-width: 780px) {
       display: contents;      
    }
}

.status{
  display: contents;

    @media (min-width: 440px) {
        display: contents;      
     }
}

.details{
    display: none;
    margin-top: 5px;

    @media (min-width: 1024px) {
        display: flex;
        justify-content: center;
       

        
    }
}

.flex-column{
   
    flex-direction: column;
    align-items: normal;
    @media (min-width: 638px) {
        align-items: center; 
    }

}
