table{
    width: 100%;
    
}

table, th{
    border-collapse: collapse;
   
    
    
  }


.main_table th{
    color: #6f7071;
    font-weight: 100;
}

.username{
    
    @media (max-width: 1024px) {
        display: none;
}
}

.columns{
   
    @media (max-width: 780px) {
        display: none;   
    }
}

.status{

    @media (max-width: 440px) {
        display: none;      
     }
}

.details{
    margin-top: 5px;
    display: flex;
    justify-content: center;


    @media (max-width: 1024px) {
        display: none;      
    }
}

.flex-column{
    align-items: center; 
   
    @media (max-width: 638px) {
        flex-direction: column;
        align-items: normal;
    }

}
